.card {
  border: none !important;
}

.card-body {
  flex-direction: column;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.card-img{
    border-radius: 0% !important;
}
