<main>
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-gradient-light"
  >
    <div class="col-md-3 p-lg-3 mx-auto my-3">
      <h1>ACERCA DE MI</h1>
    </div>
  </div>
</main>

<div class="card-group row h-100 bg-light">
  <div class="col-md-2	col-lg-2 col-xl-2"></div>
  <div class=" col-sm-6	col-md-3 col-lg-3	col-xl-3">
    <div class="card">
      <img
        src="assets/img/silvia_perfil.jpg"
        class="card-img img-fluid image"
        alt="empanada_carne"
      />
    </div>
  </div>

  <div class=" col-sm-6	col-md-5 col-lg-5	col-xl-5 my-auto">
    <div class="card">
      <div class="card-body text-center bg-light ">
        <h4 class="card-title text-capitalize">Silvia Peralta</h4>
        <h5 class="text-grey font-weight-light pb-3 pt-1 text-center bg-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis, quasi quae nemo voluptate asperiores saepe animi quod ducimus. Nemo exercitationem mollitia sapiente ipsam quasi minus rem totam voluptate optio.
        </h5>
      </div>
    </div>
  </div>
  <div class="col-md-2	col-lg-2 col-xl-2"></div>
</div>
